#root{
  padding: 0;
}

img{
  width: 100%;
}

.card_produto {
 display: flex;
 justify-content: space-between;
  padding: 3rem;
}

.produto_lista{
  flex-direction: row;
  display: contents;
}

.sobre_texto{
  padding: 5rem;

}